---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---
<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>

  <Container>
    <h1 class="animate font-semibold text-black dark:text-white">
    👋 Greetings, I'm Kin
    </h1>

    <section>
      <img src="/kin.gif" alt="Kin" style="width: 24%; height: 24%; margin-top: 8px; margin-bottom: -12px;" />
    </section>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <span class="animate">
            <p>
              Lovely day to be alive and on fire for something. 
            </br></br>   
              I'm a poet, pixel artist and entrepreneur by the given name of Garett Laugavitz. My background is in B2B marketing, but I bleed at the vanguard of web3, a bonafide revolution, celebrating culture in this newfound channel.
            </br></br>              
              If “the medium is the message” then blockchain communicates value. It’s digital marble.. a ledger to enshrine the past and store value in the present, allowing us to wager on a better future. Sure, snake oil abounds and some say, in a gold rush, the only ones who make any money are the ones selling the picks and shovels. 
            </br></br>              
              But there’s more to be had than digital gold. We can program our values into our money, bringing our worldview into this abstraction of our time, labors and gifts. Though there’s more to life than all that and I’ve lost myself down the 🐇h🕳️le before. Hence, you’ll find my writing to reflect an array of missives and musings.
            
        </p>
          </span>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-black dark:text-white">Latest Missives</h2>
          <Link href="/blog"> See All </Link>
        </div>
        <ul class="not-prose flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-black dark:text-white">
            Projects of Note
          </h2>
          <Link href="/projects"> See All</Link>
        </div>
        <ul class="not-prose flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4">
        <h2 class="font-semibold text-black dark:text-white">Holler</h2>
        <article>
          <p>
            You don't call.. you don't write 😉 Let's change that. DM me on Twitter or drop me an email. Would be rad to jam.
          </p>
        </article>
        <ul class="not-prose flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                {"/"}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.TITLE}`}
            >
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</Layout>
